Progra4.AW.Products/Progra4.AW.Products/Connected Services/SI.Productos/WCFAWProductos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53537/WCFAWProductos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Progra4.AW.Produtos.BL" />
  <xs:import schemaLocation="http://localhost:53537/WCFAWProductos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Progra4.AW.Model" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Progra4.AW.Produtos.BL" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Progra4.AW.Produtos.BL" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProductoPorRangoDePrecio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="precioInferior" type="xs:decimal" />
        <xs:element minOccurs="0" name="precioSuperior" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProductoPorRangoDePrecioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Progra4.AW.Model" minOccurs="0" name="ListarProductoPorRangoDePrecioResult" nillable="true" type="q3:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProductosPorColor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProductosPorColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Progra4.AW.Model" minOccurs="0" name="ListarProductosPorColorResult" nillable="true" type="q4:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProductosPorNombreDeCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="laCategoria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProductosPorNombreDeCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Progra4.AW.Model" minOccurs="0" name="ListarProductosPorNombreDeCategoriaResult" nillable="true" type="q5:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>